body {
  background-color: black;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('/static/img/fond.png')
}
.App {
}



