.Card {
  background-size: cover;
  margin : 5px;
  border: solid black 1px;
  display: inline-block;
  border-radius: 0 0 0 20px;
}

.Card.m-1111 {background-image:url('img/motif-0-1111.png');}
.Card.m-1112 {background-image:url('img/motif-0-1112.png');}
.Card.m-1121 {background-image:url('img/motif-0-1121.png');}
.Card.m-1122 {background-image:url('img/motif-0-1122.png');}
.Card.m-1211 {background-image:url('img/motif-0-1211.png');}
.Card.m-1212 {background-image:url('img/motif-0-1212.png');}
.Card.m-1221 {background-image:url('img/motif-0-1221.png');}
.Card.m-1222 {background-image:url('img/motif-0-1222.png');}
.Card.m-2111 {background-image:url('img/motif-0-2111.png');}
.Card.m-2112 {background-image:url('img/motif-0-2112.png');}
.Card.m-2121 {background-image:url('img/motif-0-2121.png');}
.Card.m-2122 {background-image:url('img/motif-0-2122.png');}
.Card.m-2211 {background-image:url('img/motif-0-2211.png');}
.Card.m-2212 {background-image:url('img/motif-0-2212.png');}
.Card.m-2221 {background-image:url('img/motif-0-2221.png');}
.Card.m-2222 {background-image:url('img/motif-0-2222.png');}
.Card.m-1111.done {background-image:url('img/motif-1-1111.png');}
.Card.m-1112.done {background-image:url('img/motif-1-1112.png');}
.Card.m-1121.done {background-image:url('img/motif-1-1121.png');}
.Card.m-1122.done {background-image:url('img/motif-1-1122.png');}
.Card.m-1211.done {background-image:url('img/motif-1-1211.png');}
.Card.m-1212.done {background-image:url('img/motif-1-1212.png');}
.Card.m-1221.done {background-image:url('img/motif-1-1221.png');}
.Card.m-1222.done {background-image:url('img/motif-1-1222.png');}
.Card.m-2111.done {background-image:url('img/motif-1-2111.png');}
.Card.m-2112.done {background-image:url('img/motif-1-2112.png');}
.Card.m-2121.done {background-image:url('img/motif-1-2121.png');}
.Card.m-2122.done {background-image:url('img/motif-1-2122.png');}
.Card.m-2211.done {background-image:url('img/motif-1-2211.png');}
.Card.m-2212.done {background-image:url('img/motif-1-2212.png');}
.Card.m-2221.done {background-image:url('img/motif-1-2221.png');}
.Card.m-2222.done {background-image:url('img/motif-1-2222.png');}
