div.Config .MuiPaper-root {
  padding: 7px;
}

div.Config {
  height:100%; /* <= bien ici pour l'image de fond */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('img/fond.png');
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

div.Config table {
  margin: auto;
  text-align: center;
  border-spacing: 10px;
}
