.Player fieldset {
  border: solid grey 1px;
  text-align: center;
}

.Player fieldset.mon-tour {
  background-color: rgba(200,200,200,.4);
}

.Player fieldset.pas-mon-tour {
  background-color: rgba(20,20,20,.8);
}

.Player .mon-tour legend {
  color: white;
/*  display:none;*/
}

.Player .pas-mon-tour legend {
  color: grey;
/*  display:none;*/
}

.Player .Card {
  width: 85px;
  height: 85px;
}

.Player fieldset:empty {
  display: none;
}
