div.Regles {
  font-family: 'arial';
}

div.Regles .MuiPaper-root {
  padding: 7px;
  height:100%; /* <= bien ici pour l'image de fond */
}

div.Regles {
  width:500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('img/fond.png');
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  padding: 10px;
}

div.Regles table {
  margin: auto;
  text-align: center;
  border-spacing: 10px;
}

.Regles .Carte {
  width: 70px;
  margin: 5px;
  border-radius: 0 0 0 20px;
}

.Regles .Plateau {
  width: 200px;
  margin: 5px;
  border-radius: 0 0 5px 5px;
}
