/* panel background */
.MuiDrawer-root .MuiPaper-root > div {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('/assets/img/fond.png');
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  padding: 10px;
}
