.Victoire {
  width: 50vw;
  text-align: center;

  & .MuiPaper-root {
    /* plus d'influence depuis que victoire vient du haut */
    padding: 7px;
    height: 100%; /* <= bien ici pour l'image de fond */
  }

  & .Card {
    width: calc(var(--card-size) / 2);
    height: calc(var(--card-size) / 2);
    margin: 5px;
    border-radius: 0 0 0 20px;
    &.done {
      float: none;
      opacity: 1;
      border: solid 0px var(--main-color);
    }
  }

  & table {
    width: 100%;
  }

  & .Score {
    width: 50vw;
    & td {
      width: 50%;
    }
    & td + td {
      border-left: 2px solid black;
    }
  }
}
