.Selector {
  margin: 10px;

  & div {
    text-align: center;
    position: relative;

    & img {
      margin: 10px;
      width: 120px;
      border-radius: 10% 10% 10% 10%;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
      /*  filter: blur(1px);*/
    }

    &.Selected {
      background-color: var(--background-color-opacity-60);
      border: solid grey 1px;
      border-radius: 10% 10% 10% 35%;
      & img {
        border-radius: 10% 10% 10% 35%;
      }
    }
  }
}
